{{ if gt (len .Response.Commands.ToolCheck) 0 }}> TOOL CHECKS: 
{{printHR .ToolCheckPrintableLengths.Tool .ToolCheckPrintableLengths.Command .ToolCheckPrintableLengths.Description .ToolCheckPrintableLengths.IfNotFound}}
|{{printCell "Tool" .ToolCheckPrintableLengths.Tool}}{{printCell "Command" .ToolCheckPrintableLengths.Command}}{{printCell "Description" .ToolCheckPrintableLengths.Description}}{{printCell "If Not Found" .ToolCheckPrintableLengths.IfNotFound}}
{{printHR .ToolCheckPrintableLengths.Tool .ToolCheckPrintableLengths.Command .ToolCheckPrintableLengths.Description .ToolCheckPrintableLengths.IfNotFound}}
{{ range $toolCheck := .Response.Commands.ToolCheck }}|{{printCell .Tool $.ToolCheckPrintableLengths.Tool}}{{printCell .Cmd $.ToolCheckPrintableLengths.Command}}{{printCell .Description $.ToolCheckPrintableLengths.Description}}{{printCell .OnFail.InstructionToInstall $.ToolCheckPrintableLengths.IfNotFound}}
{{printHR $.ToolCheckPrintableLengths.Tool $.ToolCheckPrintableLengths.Command $.ToolCheckPrintableLengths.Description $.ToolCheckPrintableLengths.IfNotFound}}
{{ end }}
{{ end }}
> EXECUTABLE COMMANDS:
{{printHR .CommandsPrintableLengths.Command .CommandsPrintableLengths.Description}}
|{{printCell "Command" .CommandsPrintableLengths.Command}}{{printCell "Description" .CommandsPrintableLengths.Description}}
{{printHR .CommandsPrintableLengths.Command .CommandsPrintableLengths.Description}}
{{ range $cmd := .Response.Commands.Cmds }}|{{printCell .Cmd $.CommandsPrintableLengths.Command}}{{printCell .Description $.CommandsPrintableLengths.Description}}
{{printHR $.CommandsPrintableLengths.Command $.CommandsPrintableLengths.Description}}
{{ end }}